@font-face {
  font-family: poppins;
  src: url(../public/Poppins-Regular.ttf);
}
@font-face {
  font-family: sp;
  src: url(../public/sp.ttf);
}
body{
  background: #040D12;
  font-family: poppins;
  /* font-weight: 200; */
}

